# Documentation
# ------------------------------------------------------------------------------
Sphinx==5.2.3                                 # https://github.com/sphinx-doc/sphinx
sphinx_rtd_theme==1.0.0
sphinxcontrib-django2                         # https://github.com/timoludwig/sphinxcontrib-django2
